name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        continue-on-error: true
        with:
          path: |
            modules
            zephyr
            bootloader
            zmk
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: ZMK Build (Left)
        uses: zmkfirmware/zmk-prepare-action@v1 # This prepares the environment correctly
      
      - name: Build Left
        uses: zmkfirmware/zmk-build-action@v1
        with:
          board: nice_nano_v2
          shield: splitkb_aurora_lily58_left

      - name: Build Right
        uses: zmkfirmware/zmk-build-action@v1
        with:
          board: nice_nano_v2
          shield: splitkb_aurora_lily58_right

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            *.uf2
